
.mud-charts-xaxis text {
    writing-mode: vertical-rl;
    transform: translateY(25px);
}

.mud-chart-line {
    overflow: visible;
}

.mud-chart .mud-chart-legend {
    display: flex;
    padding: 50px 0px;
    margin: auto;
    flex-wrap: wrap;
}

.chart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 16px;
    margin: 16px;
}

.chart-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
